{
  "id": "izplus",
  "name": "iZplus",
  "version": "1.0.0",
  "executable": "${EXE_PATH}",
  "mznlib": "${LIB_PATH}",
  "tags": ["cp"],
  "supportsMzn": false,
  "supportsFzn": true,
  "stdFlags": ["-a", "-f", "-p"]
}
