name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  cd:
    needs: ci
    uses: ./.github/workflows/cd.yml
    secrets: inherit
